doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Hello World
	link(rel="stylesheet", href="/css/main_styles.css")
	link(rel="stylesheet", href="/css/foundation-icons.css")
body
	header
		.header_content
			img(src=user.images['100'], alt="")

			.user_info
				h2 #{user.first_name} #{user.last_name}
				ul
					each field in user.fields
						li= field
				span.user_location
					i.fi-marker
					p #{user.location}

	main
		if projects
			.projects_content

				each project in projects

					div(class="project", id=project.id)
						.project_img
							img(src=project.covers['404'])
						.project_info
							h2= project.name
							ul
								li= project.fields[0]
								li= project.fields[1]
								li= project.fields[2]

		else
			h1 No hay projectos que mostrar

	footer
		.prowe-by
			p Powered By
			p.icon_p
				a(href="#").fi-social-behance.power-loco